body {
	font-family: "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	font-size: 16px;
	color: #fff;
	background-color: #ebeef5;
}
h3,h4 {
	font-size: 16px;
}
.container {
	max-width: 922px;
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 10px;
}