/* -------------- PC ------------------- */
@media screen and (min-width: 641px) {
  #header .header-top .logoSP {
    display: none;
  }
  #main .product {
    .product-itemSP {
    }
  }
  /* .mainslide .list .img-line,
	.mainslide .mainslide-img .img-line {
		display: none;
	} */
  .toogle {
    display: none;
  }
}

/* -------------- SP ------------------- */
@media screen and (max-width: 640px) {
  #header {
    .header-top {
      .header-logo {
        justify-content: center;
        .logoPC {
          display: none;
        }
        .logoSP {
          padding: 20px;
        }
      }
    }
    .header-menu {
      .menu {
        display: none;
        ul {
          flex-direction: column;
          li {
            position: relative;
            width: 100%;
            border-bottom: 1px dotted rgb(182, 134, 134);
            border-right: none;
            text-align: inherit;
          }
          li.first {
            display: none;
          }
          li.second {
            border-top: 1px solid #fff;
          }
          li::after {
            display: none;
          }
          li:hover {
            background-color: #7fdbff;
            transition: 0.2s;
          }
        }
      }
    }
  }

  #main {
    .mainslide {
      .mainslide-img {
        min-height: 360px !important;
      }
      .list {
        min-height: 88px !important;
      }
    }
    .main-infor {
      flex-direction: column;
    }
    .product {
      .product-itemPC {
        display: none;
      }
      .product-itemSP {
        display: block;
        grid-template-columns: repeat(1, 1fr) !important;
        .img-line {
          display: none;
        }
        .item-icon {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  #footer .footer-text {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .toogle {
    display: block;
  }
}
@media screen and (max-width: 414px) {
}
