#footer {
  margin-top: 60px;
  width: 100%;
  background-color: #fff;
  border-top: 5px solid red;
  .footer-text {
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      color: black;
      padding-left: 20px;
    }
    h4 {
      color: red;
      padding-right: 20px;
    }
  }
}
