.main-infor {
  width: 100%;
  background-color: #928c80;
  display: flex;
  margin-top: 30px;
  margin-bottom: 32px;
  padding: 20px;
  h3 {
    color: #ffff00;
    margin-right: 16px;
  }
  h4 {
  }
}
