#header {
  display: block;
  width: 100%;
  background-color: #fff;
  .header-top {
    .header-logo {
      position: relative;
      width: 100%;
      min-height: 60px;
      display: flex;
      align-items: center;
    }
    .logoPC {
      display: inline-block;
      position: absolute;
      right: 0;
      padding-right: 20px;
    }
  }
  .header-menu {
    background-color: #153368;
    .menu {
      min-height: 40px;
      ul {
        display: flex;
        li {
          height: 40px;
          width: 16%;
          text-align: center;
          border-right: 1px solid #fff;
          a {
            font-size: 90%;
            display: block;
            height: 100%;
            color: #fff;
            padding-top: 6px;
            font-weight: bold;
            i {
              font-size: 24px;
            }
          }
        }
        li.first {
          width: 5%;
          border-left: 1px solid #fff;
        }
        li.first::after {
          display: block;
          content: "";
          width: 100%;
          height: 3px;
          background-color: yellow;
        }
        li::after {
          display: block;
          content: "";
          width: 0;
          height: 3px;
          background-color: yellow;
          transition: width 0.3s;
        }
        li:hover::after {
          width: 100%;
        }
      }
    }
  }
  .toogle {
    width: 100%;
    height: 35px;
    background-color: #153368;
    position: relative;
    i {
      position: absolute;
      right: 0;
      font-size: 33px;
      color: #fff;
    }
  }
}
